﻿@model PhotoPostViewModel

<!-- Landing Page Contents
    ================================================= -->
<div id="lp-register">
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <div class="reg-form-container">
                    <!--Registration Form Contents-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="register">
                            <h3>You are about to post a photo.</h3>
                            <p class="text-muted">Be cool and post the best pic.</p>

                            <!--Register Form-->
                            <form enctype="multipart/form-data" asp-action="CreatePhotoPost">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <div class="form-group">
                                            <div class="custom-file">
                                                <label for="upload-photo"
                                                       class="custom-file-label">Browse...</label>
                                                <input id="upload-photo"
                                                       asp-for="Photo"
                                                       accept="image/x-png,image/jpeg"
                                                       class="custom-file-input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhotoDescription" class="sr-only">Add description to photo:</label>
                                    <textarea input asp-for="PhotoDescription" id="form-message" name="PhotoDescription" class="form-control" placeholder="Photo description..." rows="4" data-error="Please,leave us a message."></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post the coolest photo" class="btn btn-primary" />
                                </div>
                            </form><!--Update Form Ends-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Scripts
================================================= -->
@section scripts{
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}