﻿<div class="error-page">
    <div class="error-content">
        <div class="container">
            <img src="~/images/404.png" alt="" class="img-responsive" />
            <div class="error-message">
                <h1 class="error-title">Whoops!</h1>
                <p>Looks like you are lost. But don't worry there is plenty to see!!</p>
            </div>
        </div>
    </div>
</div>