﻿@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>News Feed | Check what your friends are doing</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="~/template/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/template/css/style.css" />
    <link rel="stylesheet" href="~/template/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/template/css/font-awesome.min.css" />
    <link href="~/template/css/emoji.css" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="~/template/images/fav.png" />
</head>
<body>
    <!-- Header
    ================================================= -->
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/template/images/logo.png" alt="logo" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-right main-menu">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown"><a asp-controller="Home" asp-action="Timeline">Timeline</a></li>
                            <li class="dropdown"><a asp-controller="Newsfeed" asp-action="Index">Newsfeed</a></li>
                            <li class="dropdown"><a asp-controller="Messages" asp-action="Index">Messages</a></li>
                        }
                        <li class="dropdown"><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown"><a asp-controller="Home" asp-action="Logout">Logout</a></li>
                        }
                    </ul>
                    <form class="navbar-form navbar-right hidden-sm">
                        <div class="form-group">
                            <i class="icon ion-android-search"></i>
                            <input type="text" class="form-control" placeholder="Search for friends...">
                        </div>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav>
    </header>
    <!--Header End-->

    @RenderBody()

    <!-- Footer
    ================================================= -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-wrapper">
                    <div class="col-md-3 col-sm-3">
                        <a asp-controller="Home" asp-action="Index"><img src="~/template/images/logo-black.png" alt="" class="footer-logo" /></a>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5>For individuals</h5>
                        <ul class="footer-links">
                            <li><a asp-controller="Home" asp-action="Index">Signup</a></li>
                            <li><a href="~/Identity/Account/Login">Login</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-sm-2">
                        <h5>About</h5>
                        <ul class="footer-links">
                            <li><a asp-action="Error">About us</a></li>
                            <li><a asp-action="Contact">Contact us</a></li>
                            <li><a asp-action="Error">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h5>Contact Us</h5>
                        <ul class="contact">
                            <li><i class="icon ion-ios-email-outline"></i>admin@friendsfinder.com</li>
                            <li><i class="icon ion-ios-location-outline"></i>55 Todor Kableshkov, Sofia, Bulgaria</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>C# Tigers Team © 2020. All rights reserved</p>
        </div>
    </footer>

    <!--preloader-->
    <div id="spinner-wrapper">
        <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTMXfmDn0VlqWIyoOxK8997L-amWbUPiQ&callback=initMap"></script>
    <script src="~/template/js/jquery-3.1.1.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/jquery.sticky-kit.min.js"></script>
    <script src="~/template/js/jquery.scrollbar.min.js"></script>
    <script src="~/template/js/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

